/* Vom Tab Ergebnisse */

table {
    margin-top: 5rem;
    margin-left: 3rem;
    width: 70rem;
    height: 14rem;
    justify-content: center;
    text-align: center;
    color: rgb(255, 0, 0);
    text-shadow: 1px 1px 12px rgba(255, 255, 255, 0.6);
    font-weight: bold;
}

thead {
    font-size: 1.3rem;
    color: aquamarine;
    text-shadow: 1px 1px 4px rgba(144, 212, 195, 0.6);

}